.desempenho-fornecedor {
  width: 100%;
}

.titulo-secao-fornecedor {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 10px;
}

.titulo-secao-fornecedor h2 {
  color: var(--cor-branco-texto);

  font-size: 0.7rem;

  text-transform: uppercase;
}

.titulo-secao-fornecedor span {
  color: var(--cor-verde);

  font-size: 0.6rem;
}

.cards-fornecedor {
  display: grid;

  grid-template-columns: repeat(3, minmax(0, 1fr));

  gap: 12px;
}

@media (max-width: 700px) {
  .cards-fornecedor {
    grid-template-columns: 1fr;

    gap: 10px;
  }
}